.container{
    height: 500px;
    width: 500px;
    font-size: 50px;
    background-color: aqua;
}


@media screen and (max-width:800px){
     .container{
        background-color:yellow ;
        font-size: 60px;
     }
    }

@media screen and (max-width:600px){
  .container{
    height: 250px;
    width: 250px;
    background-color:pink;
  }
}

/* @media screen and (min-width:800px){
     .container{
        background-color:orange ;
        font-size: 60px;
     }
} */